/* 
  Imports
*/
@import url("./theme.css");
@import url("./spacing.css");
@import url("./sizing.css");
@import url("./fonts.css");
@import url("./reset.css");

/* Default typography and background */
:root {
  background-color: var(--0dp);
  color: var(--text-medium);
  font-family: var(--body-font);
  font-weight: var(--text-weight-regular);
}

/* https://webplatform.github.io/docs/css/mediaqueries */
@media (hover: hover) and (pointer: fine) {
  /* Custom Scrollbar - https://ishadeed.com/article/custom-scrollbars-css/ */
  ::-webkit-scrollbar {
    width: var(--sizing-s);
    height: var(--sizing-s);
  }

  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
    border-radius: 100px;
    padding: calc(var(--spacing-xs) / 2);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(var(--secondary-v1-base), 0.7);
    border-radius: 100px;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--secondary-v1-base), 1);
  }
}